<% if Rails.env.development? %><!-- <%= params[:controller] %>#<%= params[:action] %> --><% end %>
<!-- <%= @flow_exp.to_json.html_safe %> -->
<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <% if @flow_session.use_flow? %>
      <div id="flow-bar">
        <div class="container"><%= flow_top_nav_data %></div>
      </div>
    <% end %>

    <%= render :partial => 'spree/shared/header' %>

    <div class="container">
      <div id="wrapper" class="row" data-hook>

        <%=
          # show breadcrumbs
          # flow_normalize_categories taxon_breadcrumbs(@taxon)
        %>

        <% if (@jumbo_image = flow_get_jumbo_image) %>
          <div class="sixteen columns"><img src="<%= @jumbo_image %>" style="width: 100%; margin-bottom: 30px;" /></div>
        <% end %>

        <%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %>

        <div id="content" class="columns <%= !content_for?(:sidebar) ? "sixteen" : "twelve omega" %>" data-hook>
          <%= flash_messages %>
          <%= yield %>
        </div>

        <%= yield :templates %>

      </div>

      <%= yield :sidebar_base %>

      <%= render :partial => 'spree/shared/footer' %>

    </div>

    <%= render :partial => 'spree/shared/sidebar' %>

    <script>
      window.app = {
        state: {
          exp: {
            default: '<%= ENV.fetch('FLOW_BASE_COUNTRY') %>',
            selected: '<%= @flow_exp.try(:country) %>',
            experiences: <%= Flow::Experience.compact.to_json.html_safe %>
          }
        }
      }
    </script>
  </body>
</html>
