<% if Rails.env.development? %><!-- <%= params[:controller] %>#<%= params[:action] %> --><% end %>
<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <div id="loader"></div>
    <% if @flow_session.localized? %>
      <div id="flow-bar">
        <div class="container"><%= flow_top_nav_data %></div>
      </div>
    <% end %>
    <%= show_promotion %>

    <%= render :partial => 'spree/shared/header' %>

    <%= flow_render_header %>

    <div class="container">
      <div id="wrapper" class="row" data-hook>
        <%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %>

        <div id="content">
          <%= flash_messages %>
          <%= yield %>
        </div>

        <%= yield :templates %>
      </div>

      <%= yield :sidebar_base %>

      <br />
      <br />

      <%= render :partial => 'spree/shared/footer' %>
    </div>

    <%= render :partial => 'spree/shared/sidebar' %>

    <script>
      window.app = {
        state: {
          order_number: '<%= @order.try(:number) %>',
          exp: {
            default: '<%= ENV.fetch('FLOW_BASE_COUNTRY') %>',
            selected: '<%= @flow_session.experience.try(:country) %>',
            experiences: <%= Flow::Experience.compact.to_json.html_safe %>
          }
        }
      }
    </script>
  </body>
</html>
