<style>
td.cart-item-price, td.cart-item-total { color: #444 !important; font-size: 17px !important; font-weight: normal !important; }
td.cart-item-quantity input { font-size: 18px; }
tr.cart-total { background-color: #0092A6; }
tr.line-item { font-size: 15px;  }
.cart-subtotal { display: none; }
</style>

<% @body_id = 'cart' %>
<div data-hook="cart_container">
  <h1><%= Spree.t(:shopping_cart) %></h1>

  <% if @order.line_items.empty? %>

    <div data-hook="empty_cart">
      <p><%= Spree.t(:your_cart_is_empty) %></p>
      <p><%= link_to Spree.t(:continue_shopping), products_path, :class => 'button continue' %></p>
    </div>

  <% else %>

    <div data-hook="outside_cart_form">
      <%= form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form| %>
        <div data-hook="inside_cart_form">

          <div data-hook="cart_items">
            <%= render :partial => 'form', :locals => { :order_form => order_form } %>
          </div>

          <%= total_cart_breakdown rescue show_error('cart error') %>

          <div class="links columns sixteen alpha omega" data-hook="cart_buttons">
            <button name="button" type="submit" class="button checkout primary" id="update-button">Update</button>
            or
            <%= button_tag :class => 'button checkout primary large', :id => 'checkout-link', :name => 'checkout' do %>
              <%= Spree.t(:checkout) %>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>

    <div id="empty-cart" data-hook>
      <%= form_tag empty_cart_path, :method => :put do %>
        <p id="clear_cart_link" data-hook>
        <%= link_to Spree.t(:continue_shopping), products_path %>
        </p>
      <% end %>
    </div>

  <% end %>
</div>
