<%
  # @order.state
%>

<div id="checkout" data-hook>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>

  <h2><%= Spree.t(:checkout) %></h2>

  <%= checkout_progress %>

  <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
    <div class="flex" data-hook="checkout_content">
      <div class="flex-col" data-hook="checkout_form_wrapper">
        <%= render @order.state, :form => form %>
      </div>

      <% if @order.state != 'confirm' %>
        <div class="flex-col no-border col-300">
          <%= render :partial => 'summary', :locals => { :order => @order } %>
        </div>
      <% end %>
    </div>
   <% end %>
</div>

<script>
Spree.current_order_id = "<%= @order.number %>"
Spree.current_order_token = "<%= @order.guest_token %>"
</script>

<% if I18n.locale != :en %>
  <%= javascript_include_tag 'jquery.validate/localization/messages_' + I18n.locale.to_s.downcase.gsub('-', '') %>
<% end %>
