<h3>Orders</h3>

<br />

<table class="table table-striped">
<tr>
  <th style="-width: 110px;">ID</th>
  <th>Number</th>
  <th>Flow</th>
  <th>Credit card</th>
  <th style="text-align: right;">Total</th>
</tr>
<% @orders.each do |order| %>
  <tr>
    <td>
      <%= order.id %> <small>- <%= order.state %></small>
      <br />
      <small><%= order.created_at.to_s.reverse.split(':',2).last.reverse %></small>
    </td>
    <td>
      <%= link_to order.number, '/admin/orders/%s/payments' % order.number, target: :_new %>
      &bull;
      <%= link_to 'raw', '?flow=raw&o_id=%d' % order.id, target: :_new %>
      <br />
      <small><%= order.user.try(:email) %></small>
    </td>
    <td>
      <%= link_to 'Flow', 'https://console.flow.io/%s/orders/%s' % [Flow.organization, order.flow_number], target: :_new %>
      &bull;
      <%= link_to 'JSON', '?flow=order&o_id=%s' % order.id, target: :_raw %>
    </td>
    <td>
      <% if order.flow_cc_token %>
        <button class="btn btn-<%= order.flow_cache['authorization'] ? 'success' : 'secondary' %> btn-sm" onclick="window.open('?flow=auth&o_id=<%= order.id %>')">Auth</button>
        &bull;
        <button class="btn btn-<%= order.flow_cache['capture'] ? 'success' : 'secondary' %> btn-sm" onclick="window.open('?flow=capture&o_id=<%= order.id %>')">Capture</button>
      <% else %>
        <small class="error">No flow token</small>
      <% end %>
    </td>
    <td style="text-align: right;"><%= '%s - <b>%s</b> %s '.html_safe % [pluralize(order.line_items.count, 'item'), order.total, order.currency] %></td>
  </tr>
<% end %>

</table>

<%= paginate @orders %>