<button class="btn btn-secondary btn-sm" style="float: right; text-align: left; cursor: pointer; width: 300px; display: block; white-space: normal;" onclick="$.post('/flow/schedule_refresh', function(data){ location.href = location.href; })">
  <b>Refresh localized items now?</b>
  <br />
  <%= last_api_refresh %>
</button>

<h3>Orders</h3>

<br clear="all" />
<br />

<table class="table table-striped">
<tr>
  <th style="-width: 110px;">ID</th>
  <th>Number</th>
  <th>Flow</th>
  <th>Credit card</th>
  <th style="text-align: right;">Total</th>
</tr>
<% @orders.each do |order| %>
  <tr>
    <td>
      <%= order.id %> <small>- <%= order.user.try(:email).to_s[0,20] %></small>
      <br />
      <small><%= order.created_at.to_s.reverse.split(':',2).last.reverse %></small>
    </td>
    <td>
      <%= link_to order.number, '/admin/orders/%s/payments' % order.number, target: :_new %>
      &bull;
      <%= link_to 'raw', '?flow=raw&o_id=%d' % order.id, target: :_new %>
      <br />
      <small><%= order.state %> - <%= order.payment_state %></small>
    </td>
    <td>
      <%= link_to 'Flow', 'https://console.flow.io/%s/orders/%s' % [Flow.organization, order.flow_number], target: :_new %>
      &bull;
      <%= link_to 'JSON', '?flow=order&o_id=%s' % order.id, target: :_raw %>
    </td>
    <td>
      <% if order.flow_data %>
        <button class="btn btn-<%= order.flow_order_authorized? ? 'success' : 'secondary' %> btn-sm" onclick="window.open('?flow=auth&o_id=<%= order.id %>')">Auth</button>
        &bull;
        <% if order.flow_order_captured? %>
          <button class="btn btn-success btn-sm" onclick="window.open('?flow=capture&o_id=<%= order.id %>')">Capture</button>
          &bull;
          <button class="btn btn-<%= order.flow_data['refund'] ? 'success' : 'secondary' %> btn-sm" onclick="window.open('?flow=refund&o_id=<%= order.id %>')">Refund</button>
        <% else %>
          <button class="btn btn-secondary btn-sm" onclick="window.open('?flow=capture&o_id=<%= order.id %>')">Capture</button>
        <% end %>
      <% else %>
        <small class="error">No flow token</small>
      <% end %>
    </td>
    <td style="text-align: right;">
      <%= '%s - <b>%s</b>'.html_safe % [pluralize(order.line_items.sum(:quantity), 'item'), order.flow_total] %>
      <br/>
      <small><%= order.flow_order ? order.flow_order.dig(:experience, :country) : Flow.base_country %></small>
    </td>
  </tr>
<% end %>

</table>

<%= paginate @orders %>