<style>
  h6  { cursor: pointer; }
  pre { display: none; }
</style>

<script>
  $(document).on('click', 'h6', function(){
    $(this).next().toggle();
  })
</script>

<h3>Last <%= @event_num %> loged webhook events</h3>

<br />

<% for date, data in @events %>
  <h6>
    <%= date.strftime('%H:%M %Ssec') %>
    &mdash;
    <%= distance_of_time_in_words(date, Time.now) %>
    ago
    &mdash;
    <%= data['discriminator'] %>
  </h6>
  <pre><%= JSON.pretty_generate(data) %></pre>
  <hr />
<% end %>