<div class="flex">
  <div class="flex-col-2">
    <%= render :partial => 'image' %>

    <div id="thumbnails" data-hook>
      <%= render :partial => 'thumbnails' %>
    </div>

    <div data-hook="product_properties">
      <%= render :partial => 'properties' %>
    </div>

    <div data-hook="promotions">
      <%= render :partial => 'promotions' %>
    </div>

    <%= render :partial => 'taxons' %>
  </div>
  <div class="flex-col-3">
    <h1 class="product-title" itemprop="name"><%= @product.name %></h1>

    <div id="product-description-details" itemprop="description" data-hook="description">
      <%= flow_product_description(@product) rescue Spree.t(:product_has_no_description) %>
    </div>

    <br />

    <div id="cart-form" data-hook="cart_form">
      <%= render :partial => 'cart_form' %>
    </div>
  </div>
</div>

