<h1 class="big">Account</h1>

<div class="flex">
  <div class="flex-col">
    <fieldset class="flow" style="min-height: 120px;">
      <legend>INFORMATION</legend>
      <div class="flex">
        <div class="flex-col">
          <b>Email</b>: <%= @user.email %>
        </div>
        <div class="flex-col" style="text-align: right;">
          <%= link_to 'Logout', '/logout', class: 'button small' %>
          &nbsp;
          <%= link_to Spree.t(:edit), spree.edit_account_path, class: 'button small' %>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="flex-col">
    <fieldset class="flow" style="min-height: 120px;">
      <legend>ADDRESS</legend>
      <%=
        addr = @user.addresses.first
        "#{addr.firstname} #{addr.lastname}, #{addr.address1}, #{addr.city}"
      %>
    </fieldset>
  </div>
</div>

<fieldset class="flow">
  <legend><%= Spree.t(:my_orders).upcase %></legend>
  <% if @orders.present? %>
    <table class="flow responsive">
      <thead>
      <tr>
        <th class="order-number"><%= I18n.t(:number, scope: 'activerecord.attributes.spree/order') %></th>
        <th class="order-date"><%= Spree.t(:date) %></th>
        <th class="order-status"><%= Spree.t(:status) %></th>
        <th class="order-payment-state"><%= Spree.t(:payment_state) %></th>
        <th class="order-shipment-state"><%= Spree.t(:shipment_state) %></th>
        <th class="order-total"><%= Spree.t(:total) %></th>
      </tr>
      </thead>
      <tbody>
      <%
        @orders = @orders.page(params[:page]).per(30)
        @orders.each do |order|
      %>
        <tr>
          <td class="order-number bold" data-label="Order number"><%= link_to order.number, order_url(order) %></td>
          <td class="order-date" data-label="Order date"><%= l order.completed_at.to_date %></td>
          <td class="order-status" data-label="Order status"><%= Spree.t("order_state.#{order.state}").titleize %></td>
          <td class="order-payment-state" data-label="Payment state"><%= Spree.t("payment_states.#{order.payment_state}").titleize if order.payment_state %></td>
          <td class="order-shipment-state" data-label="Shipment state"><%= Spree.t("shipment_states.#{order.shipment_state}").titleize if order.shipment_state %></td>
          <td class="order-total" data-label="Order total"><b><%= order.flow_total %></b></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br />

    <%= paginate @orders %>
  <% else %>
    <p><%= Spree.t(:you_have_no_orders_yet) %></p>
  <% end %>
  <br />

</fieldset>
