<div id="top-nav">
  <div class="container">
    <div class="flex">
      <div class="hide-in-desktop">
        <img id="sidebar-button" src="/images/nav-toggle.png" />
      </div>
      <div class="logo center-in-tablet">
        <a href="/"><img src="/images/logo.svg" /></a>
      </div>
      <div class="menu hide-in-tablet">
        <%= flow_build_main_menu %>
      </div>
      <div class="options">
        <img class="w search" src="/images/nav-search.svg" data-keywords="<%= params[:keywords] %>" data-taxon="<%= @taxon.try(:id) %>" />
        <a class="hide-in-tablet<%= spree_current_user ? '' : ' dimmed' %>" href="/<%= spree_current_user ? :account : :login %>"><img src="/images/nav-user.svg" /></a>
        <a href="/cart"><%= flow_cart_ico %></a>
      </div>
    </div>
  </div>
</div>
