<nav id="top-nav-bar" class="columns sixteen">
  <img
    style="width:32px; height: 32px; cursor: pointer;"
    onclick="$('#choose-experience').toggle();"
    src="<%= flow_flag(@flow_exp, 32) %>"
  />
  <br />
  <div id="choose-experience" style="display: none;">
    <div
      style="position: absolute; margin-top: -30px; margin-left: -220px; width: 200px;  border: 1px solid #aaa; background-color:#eee; padding: 10px 10px 0 10px; display: inline-block; text-align: left;"
      onclick="$('#choose-experience').toggle(200);"
    >
      <% for experience in FlowExperience.all %>
        <a href="?flow_exp=<%= experience.key %>" style="display: block; margin-bottom: 10px;">
          <img style="width:32px; height: 32px; vertical-align: middle;" src="<%= flow_flag(experience, 32) %>" />
          <%= experience.name %>
        </a>
      <% end %>
    </div>
  </div>

  <ul id="nav-bar" class="inline" data-hook>
    <li id="search-bar" data-hook>
      <%= render :partial => 'spree/shared/search' %>
    </li>
  </ul>
</nav>
