<nav id="top-nav-bar" class="columns sixteen" style="position: relative;">
  <div class="w experience_picker" data-experiences="<%= Flow::Experience.compact.to_json %>">
    <img class="picker" src="<%= flow_flag(@flow_session.experience, 32) %>" />
  </div>

  <ul id="nav-bar" class="inline" data-hook style="float: right;">
    <% if spree_current_user %>
      <li><%= link_to Spree.t(:logout), spree.logout_path %></li>
      <li><%= link_to Spree.t(:my_account), spree.account_path %></li>
    <% else %>
      <li id="link-to-login"><%= link_to Spree.t(:login), spree.login_path %></li>
    <% end %>
  </ul>

  <form action="/products" accept-charset="UTF-8" method="get" style="display: none;">
    <input name="utf8" type="hidden" value="✓">
    <!--
    <select name="taxon" id="taxon" aria-label="Taxon"><option value="">All departments</option>
      <option value="1">Apparel &amp; Accessories</option>
      <option value="7">Luggage &amp; Bags</option>
    </select>
    -->
    <input type="search" name="keywords" id="keywords" placeholder="Search">
    <input type="submit" value="Search" data-disable-with="Search">
  </form>
</nav>

