<nav id="top-nav-bar" class="columns ten">
  <img
    style="width:32px; height: 32px; cursor: pointer;"
    onclick="$('#choose-expirience').toggle();"
    src="https://flowcdn.io/util/icons/flags/32/<%= Flow.current_expirience(request)['region']['id'] %>.png"
  />
  <br />
  <div id="choose-expirience" style="display: none;">
    <div
      style="position: absolute; margin-top: -30px; margin-left: -170px; width: 150px;  border: 1px solid #aaa; background-color:#eee; padding: 10px 10px 0 10px; display: inline-block; text-align: left;"
      onclick="$('#choose-expirience').toggle(200);"
    >
      <% for exp in Flow::EXPERIENCES %>
        <a href="<%= Flow.get_experience_url(request, exp['region']['id']) %>" style="display: block; margin-bottom: 10px;">
          <img style="width:32px; height: 32px; vertical-align: middle;" src="https://flowcdn.io/util/icons/flags/32/<%= exp['region']['id'] %>.png" />
          <%= exp['name'] %>
        </a>
      <% end %>
    </div>
  </div>

  <ul id="nav-bar" class="inline" data-hook>
    <li id="search-bar" data-hook>
      <%= render :partial => 'spree/shared/search' %>
    </li>
  </ul>
</nav>
