<div class="flex fix-height">
  <% if order.has_step?("address") %>
    <div class="flex-col">
      <fieldset class="form">
        <legend><%= link_to_if !order.completed?, 'BILLING ADDRESS', checkout_state_path(:address) %></legend>

        <%= render :partial => 'spree/shared/address', :locals => { :address => order.bill_address } %>
      </fieldset>
    </div>

    <% if order.has_step?("delivery") %>
      <div class="flex-col">
        <fieldset class="form">
          <legend><%= link_to_if !order.completed?, 'SHIPPING ADDRESS', checkout_state_path(:address) %></legend>
          <%= render :partial => 'spree/shared/address', :locals => { :address => order.ship_address } %>
        </fieldset>
      </div>

      <div class="flex-col">
        <fieldset class="form">
          <legend><%= link_to_if !order.completed?, 'SHIPMENTS', checkout_state_path(:delivery) %></legend>

          <div class="delivery">
            <div>
              <% if @flow_session.localized? %>
                <i class='fa fa-truck'></i>
                <%= @flow_order.delivery ? @flow_order.delivery[:name] : 'not available' %>
              <% else %>
                <% order.shipments.each do |shipment| %>
                  <div>
                    <i class='fa fa-truck'></i>
                    <%= Spree.t(:shipment_details, :stock_location => shipment.stock_location.name, :shipping_method => shipment.selected_shipping_rate.name) %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </fieldset>
        <%= render(:partial => 'spree/shared/shipment_tracking', :locals => {:order => order}) if order.shipped? %>
      </div>
    <% end %>
  <% end %>

  <% if order.has_step?("payment") %>
    <div class="flex-col">
      <fieldset class="form">
        <legend><%= link_to_if !order.completed?, 'PAYMENT INFORMATION', checkout_state_path(:payment) %></legend>
        <div class="payment-info">
          <% if order.flow_paymeny_method == 'paypal' %>
            <span>
              <img class="paypal" src="/images/pay-pal-ico.png" />
              Paid with PayPal &copy;
            </span>
          <% else%>
            <%= render order.payments.first %><br/>
          <% end %>
        </div>
      </fieldset>
    </div>
  <% end %>
</div>

<fieldset class="form">
  <legend>ORDER PRODUCTS</legend>

  <table id='line-items' class="index columns alpha omega sixteen responsive" data-hook="order_details">
    <col width="15%" valign="middle" halign="center">
    <col valign="middle">
    <col width="5%" valign="middle" halign="center">
    <col width="5%" valign="middle" halign="center">
    <col width="5%" valign="middle" halign="center">

    <tbody data-hook>
      <% order.line_items.each do |item| %>
        <tr data-hook="order_details_line_item_row">
          <td data-hook="order_item_image">
            <% if item.variant.images.length == 0 %>
              <%= link_to image_tag(item.variant.product.display_image.attachment(:small)), item.variant.product %>
            <% else %>
              <%= link_to image_tag(item.variant.images.first.attachment.url(:small)), item.variant.product %>
            <% end %>
          </td>
          <td data-hook="order_item_description">
            <h4><%= item.variant.product.name %></h4>
            <%= truncated_product_description(item.variant.product) %>
            <%= "(" + item.variant.options_text + ")" unless item.variant.option_values.empty? %>
          </td>
          <td style="min-width: 150px; text-align: right;">
            <%= @order.flow_line_item_price(item) %>&nbsp;&times;&nbsp;<%= item.quantity %>
            <br />
            <%= @order.flow_line_item_price(item, :with_quantity) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>

<%= total_cart_breakdown %>

<br style="clear: both;" />
<br style="clear: both;" />
<br style="clear: both;" />
