<div id="sidebar-pannel">
  <div class="menu">
    <span class="close">&times;</span>
    <div id="sidebar-data">
      <% cache 'sidebar-taxon' do %>
        <!-- <%= (rand()*1000).to_i %> cache test -->
        <% Spree::Taxonomy.all.each do |taxonomy| %>
          <h5><a href="/t/<%= taxonomy.taxons.first.permalink %>"><%= taxonomy.name.upcase %></a></h5>
          <%=
            flow_taxons_tree(taxonomy.root, @taxon)
          %>
        <% end %>
      <% end %>
      <h5><a href="/sale">Sale</a></h5>
    </div>
    <div id="sidebar-data-exp"></div>

    <div class="bottom-nav">
      <a href="/<%= spree_current_user ? :account : :login %>"><img src="/images/nav-user.svg" /></a>
      <span data-sidebar="true" class="w experience_picker">
        <img class="picker" src="<%= flow_flag(@flow_session.experience, 32) %>" />
      </span>
    </div>
  </div>
</div>
