<div id="sidebar-pannel">
  <div class="menu">
    <span class="close">&times;</span>
    <div id="sidebar-data">
      <% Spree::Taxonomy.all.each do |taxonomy| %>
        <h5><%= Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %></h5>
        <%= flow_taxons_tree(taxonomy.root, @taxon) %>
      <% end %>
    </div>
    <div id="sidebar-data-exp"></div>

    <div class="bottom-nav">
      <img class="w search" src="/images/nav-search.svg" data-taxon="<%= @taxon.try(:id) %>" />
      <a href="/<%= spree_current_user ? :account : :login %>"><img src="/images/nav-user.svg" /></a>
      <span data-sidebar="true" class="w experience_picker">
        <img class="picker" src="<%= flow_flag(@flow_session.experience, 32) %>" />
      </span>
    </div>
  </div>
</div>
