<% @body_id = 'login' %>

<div id="two-cols">
  <div class="col">
    <div class="form">
      <% if flash[:alert] %>
        <div class="flash errors"><%= flash[:alert] %></div>
      <% end %>

      <div id="existing-customer">
        <h2 class="big">Returning Customers</h2>
        <div data-hook="login">
          <%= form_for Spree::User.new, as: :spree_user, url: spree.create_new_session_path do |f| %>
            <div id="password-credentials">
              <p>
                <%= f.label :email, Spree.t(:email) %><br />
                <%= f.email_field :email, class: 'title', tabindex: 1, autofocus: true %>
              </p>
              <p>
                <%= f.label :password, Spree.t(:password) %><br />
                <%= f.password_field :password, class: 'title', tabindex: 2 %>
              </p>
            </div>
            <p class="small">
              <a href="/password/recover" class="form-link-right">Forgot Password?</a>
              <%= f.check_box :remember_me, tabindex: 3 %>
              <%= f.label :remember_me, Spree.t(:remember_me) %>
            </p>

            <p><%= f.submit Spree.t(:login), class: 'button primary', tabindex: 4 %></p>
          <% end %>
        </div>
      </div>
      <div data-hook="login_extras"></div>
    </div>
  </div>

  <% if request.request_method == 'GET' %>
    <div class="col">
      <div class="form">
        <%= render 'spree/shared/error_messages', target: resource %>

        <div id="new-customer">
          <h2 class="big">New Customers</h2>

          <div data-hook="signup">
            <%= form_for resource, as: :spree_user, url: spree.registration_path(resource) do |f| %>
              <div data-hook="signup_inside_form">
                <%= render partial: 'spree/shared/user_form', locals: { f: f } %>
                <p><%= f.submit 'Sign Up', class: 'button primary' %></p>
              </div>
            <% end %>
            <div style="padding-left: 155px;">or</div>
            <br />
            <button class="button large" onclick="location.href='/'" style="width: 330px !important;">Continue as guest</button>
          </div>
        </div>
      <div data-hook="login_extras"></div>
      </div>
    </div>
  <% end %>
</div>

